.header-nav {
  background-color: rgb(192, 148, 234);
  padding: 4px;
}
.nav-div ul {
  display: flex;
}

.nav-div ul li {
  list-style: none;
  margin-right: 20px;
}
.nav-div ul li a {
  text-decoration: none;
}
.nav-div ul li a:hover,
.nav-div ul li .active {
  color: aliceblue;
}
