<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="stylesheet" href="/style/product.css" />
  </head>
  <body>
    <%- include("../layout/headerNav.ejs") %>
    <h1>Admin Product List</h1>
    <% if (products.length > 0){%>
    <div class="card-grid">
      <% products.forEach((prod)=>{%>
      <div class="card">
        <img
          src="https://media.istockphoto.com/photos/programming-new-application-picture-id1317473369"
          alt="Denim Jeans"
          style="width: 100%"
        />
        <h4><%= prod.name %></h4>
        <p class="price"><%= prod.sku %></p>

        <p><button>Edit Product</button></p>
        <p>
          <form action="/admin/del-product/<%= prod.id %>" method="post">
            <button type="submit">Delete Product</button>
          </form>
        </p>
      </div>
      <% }) %>
    </div>
    <%}%>
  </body>
</html>
